body {
    background-color: bisque;
    border: solid black;
}

.row {
    /* border: solid black; */
    display: flex;
    justify-content: center;
}

.search-area {
    background-image: url(img/desert_island.jpg);
    background-size: cover;
}

.search-area:hover {
    /* cursor: url(img/shovel.jpg), auto; */
    cursor: grab;
}

.search-div10 {
    border: solid black;
    width: 10vw;
    height: 10vw;
}

.search-div20 {
    border: solid black;
    width: 5vw;
    height: 5vw;
}

.search-div40 {
    border: solid black;
    width: 2vw;
    height: 2vw;
}

.treasure {
    /* background-color: silver; */
}

.trap {
    /* background-color: tomato; */
}

/* Heart shape from CSS-Tricks https://css-tricks.com/hearts-in-html-and-css/  */
.heart {
    background-color: red;
    display: inline-block;
    height: 15px;
    margin: 0 5px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 15px;
  }
  
.heart:before,
.heart:after {
content: "";
background-color: red;
border-radius: 50%;
height: 15px;
position: absolute;
width: 15px;
}

.heart:before {
top: -7px;
left: 0;
}

.heart:after {
left: 7px;
top: 0;
}
  
